<div class="row" style="margin-top: 100px">
    <div class="col-xs-offset-3 col-xs-6">
        <form name="forgotPasswordForm" ng-submit="authCtrl.getRemind()">
            <div class="jumbotron" style="text-align: center; border-radius: 6px;">
                <div class="alert alert-dismissable" ng-class="{'alert-warning': authCtrl.serverResult.type == 'error', 'alert-success': authCtrl.serverResult.type == 'success'}"
                style="margin-top: -20px; text-align: left;" ng-if="authCtrl.serverResult">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <div ng-if="authCtrl.serverResult.type == 'error'">
                        <h4>Une ou plusieurs erreurs ont été détectées :</h4>
                        <ul>
                            <li ng-repeat="error in authCtrl.serverResult.data">{{ error }}</li>
                        </ul>
                    </div>
                    <div ng-if="authCtrl.serverResult.type == 'success'">
                        <h4>Un mail contenant un lien de réinitialisation du mot de passe a été envoyé à l'adresse indiquée.</h4>
                        <h4>Si vous ne recevez rien dans les prochaines minutes, vérifiez l'adresse mail saisie !</h4>
                    </div>
                </div>
                <h1 ng-bind="authCtrl.formTitle"></h1>
                <div class="row" style="margin: 30px 0;">
                    <div class="form-inline">
                        <div class="form-group" style="width: 50%;">
                            <input type="email" class="form-control input-lg" id="email" placeholder="Adresse mail" style="width: 100%" ng-model="authCtrl.forgotPassword.mail"
                            required>
                        </div>
                        <div class="form-group" style="margin-left: 10px;">
                            <button type="submit" class="btn btn-primary btn-lg" ng-disabled="forgotPasswordForm.$invalid">Valider</button>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 50px;">
                    <a href="#/login" type="button" class="btn btn-default">Se connecter</a>
                </div>
            </div>
        </form>
    </div>
</div>