<div class="row" style="margin-top: 100px;">
    <div class="col-xs-offset-2 col-xs-8">
        <form name="resetPasswordForm" ng-submit="authCtrl.resetPassword()">
            <div class="jumbotron" style="text-align: center; border-radius: 6px;">
                <div class="alert alert-dismissable" ng-class="{'alert-warning': authCtrl.serverResult.type == 'error', 'alert-success': authCtrl.serverResult.type == 'success'}"
                style="margin-top: -20px; text-align: left;" ng-if="authCtrl.serverResult">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <div ng-if="authCtrl.serverResult.type == 'error'">
                        <h4>Une ou plusieurs erreurs ont été détectées :</h4>
                        <ul>
                            <li ng-repeat="error in authCtrl.serverResult.data">{{ error }}</li>
                        </ul>
                    </div>
                    <div ng-if="authCtrl.serverResult.type == 'success'">
                        <h4>Votre mot de passe a bien été modifié, vous pouvez à présent vous connecter.</h4>
                    </div>
                </div>
                <h1>Réinitialisation du mot de passe</h1>
                <div class="row" style="margin: 30px 0;">
                    <div class="col-xs-offset-3 col-xs-6">
                        <div class="form-group">
                            <input type="email" class="form-control input-lg" id="email" placeholder="Adresse mail" ng-model="authCtrl.passwordForm.email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" id="password" placeholder="Nouveau mot de passe" ng-model="authCtrl.passwordForm.password"
                            required equals="{{authCtrl.passwordForm.password_confirmation}}">
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': resetPasswordForm.confirmationPassword.$error.equals }">
                            <input type="password" class="form-control input-lg" name="confirmationPassword" id="password_confirmation" placeholder="Confirmer le nouveau mot de passe"
                            ng-model="authCtrl.passwordForm.password_confirmation" required equals="{{authCtrl.passwordForm.password}}">
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-lg" ng-disabled="!authCtrl.passwordForm.password_confirmation || resetPasswordForm.$invalid">Changer le mot de passe</button>
                </div>
                <div style="margin-top: 50px;">
                    <a href="#/login" type="button" class="btn btn-default">Se connecter</a>
                </div>
            </div>
        </form>
    </div>
</div>