<div class="col-xs-2 sidebar" nav-menu="active">
    <ul class="nav nav-sidebar">
        <li>
            <a href="#/" ng-click="setPageClass('category')">Accueil</a>
        </li>
        <li>
            <a href="#/administration" ng-show="user.authData.auth.rights == 1">Administration</a>
        </li>
        <li>
            <a href="#/brasseurs">Brasseurs</a>
        </li>
        <li>
            <a href="#/moto">Univers motos</a>
        </li>
        <li>
            <a href="#/editions">Editions</a>
        </li>
        <li>
            <a href="#/partenaires">Partenaires</a>
        </li>
        <li>
            <a href="#/presse">Presse</a>
        </li>
        <li>
            <a href="#/hebergement">Hébergements</a>
        </li>
    </ul>
</div>